/* Basic reset */
* {
   box-sizing: border-box;
}

.page-background{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../media/images/wales.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-filter {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, 1));
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width:70%;
    z-index: 5;
}

.card{
    flex: 1;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width:100%;
}

.card > h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color:black;
}

.card > p{
    text-align: center;
    font-size: 1rem;
    margin: auto auto;
    padding: 20px;
    color:black;
}

.loading {
    text-align: center;
    font-style: italic;
    color: white;
}

@media screen and (max-width: 600px){
    .container {
        width: 90%;
    }

    .card > h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color:black;
    }

    .mood-history {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    margin: 20px 0px 0px 0px;
    padding: 10px 10px;
    }

    .card > p {
    font-size: 1rem;
    margin: auto auto;
    padding: 20px;
    color:black;
    }
}
