/* This is the CSS for the index.html page */

* {
  font-size: 16px; /* 1em = 16px and p tags should sit at this */
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header{
  z-index: 100;
  text-align: center;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-filter{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00ff0d1a;
  z-index:0;
}

main {
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width:50vw; 
  height: auto;
  margin: 10vh auto;
  background-color: silver;
  opacity: 0.5; /* this line tweaks the opacity*/
  backdrop-filter: blur(10px); /*this line for Gaussian blur */
  border:#1a0600;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.login-form form {
  display: flex;
  flex-direction: column;
  background-color:transparent;
  padding: 20px;
}

.login-form label {
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color:black
}

#email {
  color: teal;
  font-weight: 600;
  text-decoration: none;
}

#skip-btn {
  color: green;
  font-weight: 600;
  text-decoration: underline;
  z-index: 100;
}

.custom-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  margin-top: 15px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
}

.custom-button:hover {
  background-color: black;
  color: white;
}

.fa-sign-in-alt {
  font-size: 1.5rem;
  color: green;
}

.fa-sign-in-alt:hover {
  color: white;
}

.login-form form > p {
  text-align: center;
  font-size: 1rem;
  color: black;
  margin: 10px 0;
  line-height:1.2rem;
  font-style: italic;
}

#mail {
  color: blue;
  text-decoration: none;
}

#skip {
  color: black;
  font-weight: 600;
  text-decoration: underline;
}

/* Media query for smaller screens, stay mobile first and double-check for changes to comments etc*/
@media (max-width: 600px) {
  .video-filter{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00ff0d1a;
    z-index:0;
  }

  .login-form {
    width: 90vw;
  }

  h1{
    margin-top: 20px;
  }
}