* {
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-image:radial-gradient(#1a0600, black);
  margin: 0% 5%;
}

nav > .nav-links {
  display: none; /* Hide initially */
}

.nav-links.show {
  display: block; /* Show the navigation */
  /* Add your desired animations here (e.g., slide-in, fade-in) */
}

.hamburger-icon {
  font-size: 2em; /* Adjust size */
  color: white; /* Adjust color */
  cursor: pointer; /* Change cursor to pointer */
  position: absolute; /* Positioning */
  top: 20px; /* Adjust top position */
  left: 20px; /* Adjust right position */
}

.login-icon{
  font-size: 2em; /* Adjust size */
  color: white; /* Adjust color */
  cursor: pointer; /* Change cursor to pointer */
  position: absolute; /* Positioning */
  top: 20px; /* Adjust top position */
  right: 20px; /* Adjust right position */
}

main {
  margin: auto;
  width: 90%;
  padding: 20px;
  height:100vwh;
}

/* Media query for smaller screens, stay mobile first and double-check for changes to comments etc*/
@media (max-width: 600px) {
  main > h1 {
    font-size: 6vw; /* 8vw for larger screens */
  }

  main > h3 {
    font-size: 3vw; /* Larger screens are 4vw */
  }

  main > h5 {
    font-size: 2vw; /* this is the same for larger screens*/
  }

  main > p {
    font-size: 2vw; /* It is 1vw for larger screens */
  }

  footer > p {
    font-size: 1em; /* It is 1em for larger screens */
  }
}


main > h1 {
  font-family: "Orbitron", serif;
  font-style: uppercase;
  font-size: 8vw; /* Use viewport width units for responsiveness */
  font-weight: 400;
  color: #fff;
  margin-bottom: 0px;
  text-align: center;
  max-width: none;
}
/*
.orbitron-font {
  font-optical-sizing: auto;
}
*/
main > h3 {
  text-align: center;
  font-size: 4vw; /* Use viewport width units for responsiveness */
  color: #fff;
  margin-top: 0px;
}

.small-caps {
  font-variant: small-caps;
}

main > h5 {
  text-align: center;
  font-size: 2vw;
  font-style: italic;
  color: #fff;
  margin-bottom: 0px;
}

main > p {
  text-align: center;
  font-size: 1vw;
  color: #fff;
}


.extra-footer-content{
  position: absolute; /* Positioning for the bottom of the page*/
  bottom: 20px; /* Adjust bottom position */
  left:20px;
}

footer > p {
  text-align: center;
  font-size: 1em;
  color: #fff;
  padding: 20px;
  position: absolute; /* Positioning for the bottom of the page*/
  bottom: 20px; /* Adjust bottom position */
  right: 20px; /* Adjust right position */
}