* {
  font-size: 16px; /* 1em = 16px and p tags should sit at this*/
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-image:radial-gradient(#1a0600, black);
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav > .nav-links {
  display: none; /* Hide initially */
}

.nav-links.show {
  float: left; /* Show the navigation */

}

li {
  list-style-type: none;
}

.hamburger-icon {
  font-size: 1rem; /* Adjust size */
  color: white; /* Adjust color */
  cursor: pointer; /* Change cursor to pointer */
  position: absolute; /* Positioning */
  top: 20px; /* Adjust top position */
  left: 20px; /* Adjust right position */
}

.login-icon{
  font-size: 1rem; /* Adjust size */
  color: white; /* Adjust color */
  cursor: pointer; /* Change cursor to pointer */
  position: absolute; /* Positioning */
  top: 20px; /* Adjust top position */
  right: 20px; /* Adjust right position */
}

main {
  flex:1;
  margin: auto;
  width: 90%;
  padding: 20px;
  height:auto;
}

/* Media query for smaller screens, stay mobile first and double-check for changes to comments etc*/
@media (max-width: 600px) {
  main > h1 {
    font-size: 2rem; /* ?rem for larger screens */
  }

  main > h3 {
    font-size: 1.75rem; /* ?rem for larger screens */
  }

  main > h5 {
    font-size:1.5rem ; /* ?rem for larger screens*/
  }

  main > p {
    font-size: 1rem; /* ?rem for larger screens */
  }

  footer > p {
    font-size: 1rem; /* ?rem for larger screens */
  }
}

/* this is for the view on larger screens */
main > h1 {
  font-family: "Orbitron", serif;
  font-style: uppercase;
  font-size: 4rem; 
  font-weight: 400;
  color: #fff;
  margin-bottom: 0px;
  text-align: center;
  max-width: none;
}
/*
.orbitron-font {
  font-optical-sizing: auto;
}
*/
main > h3 {
  text-align: center;
  font-size: 2rem; 
  color: #fff;
  margin-top: 0px;
}

.small-caps {
  font-variant: small-caps;
}

main > h5 {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  color: #fff;
  margin-bottom: 0px;
}

main > p {
  text-align: center;
  font-size: 1rem;
  color: #fff;
}

section {
  margin: auto;
  width:90%;
  padding: 20px;
  height:auto;
}
 
footer {
  display:block;
  height:auto;
  width:100%;
  text-align:center;
  position: relative;
  bottom: 0;
  padding: 10px;
}

.footer-content {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 10px;
}

.footer-icons {
  display:flex;
  align-items: center;
  gap: 10px;
}

#boner {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #fff;
  padding: 20px;
}

#spaceShipBaby {
  display:flex;
  align-items: center;
  font-size: 1rem;
  color: #fff;
  padding: 20px;
}

#copyright_tag {
  align-items: center;
  font-size: 1rem;
  color: #fff;
  padding: 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(128, 128, 128, 0.5); /* Grey background with transparency */
  backdrop-filter: blur(5px); /* Blur effect */
}

.modal-content {
  background-color: #1a1a1a;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  color: white;
  text-align: center;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
