/* Basic reset */
* {
   box-sizing: border-box;
   color: whitesmoke;
}

.page-background{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
}
.page-filter {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-image: radial-gradient(circle, rgba(12, 198, 255, 0.1), rgba(0, 0, 0, 1));
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:80%;
    margin:auto auto;
    z-index: 5;
}

.radio{
    flex: 1;
    margin: 20px;
    padding: 20px;
    width:100%;
}

.case {
    border: 1px solid #00fff2;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 
    0 0 10px 1px #00fff2,
    0 0 20px rgba(0, 255, 242,0.4);
    padding: 20px;
    margin: 20px;
    width: auto;
    text-align: center;
}

.upperScreen {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    width: 100%;
    border: 1px solid #00fff2;
}

.centerScreen {
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    border: 1px solid #00fff2;
    padding: 10px;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: whitesmoke;
    border: 1px solid #00fff2;
}

.panel {
    display: flex;
    flex-direction: row;
    flex:1;
    border: 1px solid #00fff2;
    border-radius: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: whitesmoke;
}

.otacon{
    flex: 1;
    background-image: url('../media/images/otacon.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
}

.snake{
    flex:1;
    background-image: url('../media/images/snake.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
}
.lowerScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    width: 100%;
    border: 1px solid #00fff2;
    margin-top: 20px;
}

.input-container{
    display: flex;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #00fff2;
    background-color: rgba(0, 0, 0, 0.1);
}

.input{
    flex: 1;
    padding: 10px;
    border: 1px solid #00fff2;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px){
    .container {
        width: 90%;
    }

    .card > h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color:black;
    }

    .mood-selector {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    margin: 20px 0px 0px 0px;
    padding: 10px 10px;
    }

    .card > p {
    font-size: 1rem;
    margin: auto auto;
    padding: 20px;
    color:black;
    }
}
