* {
    font-size: 16px; /* 1em = 16px and p tags should sit at this */
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke
}

html{
    margin: 0px 0px;
    padding: 0px 0px;
}

body{
    background-color: black; /* This is page specific */
    margin: 0px 0px;
}

.page-background {
    position: relative;
    min-height: 100vh;
    margin: 0px 0px;
}

.page-background::before {
    content:"";
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../media/images/cyborg_cropped.jpg);
    background-size:50%;
    background-repeat:no-repeat;
    background-position:right;
    opacity:0.3;
    z-index:-1;
}

.greenfilter{
    background-color: #00ff0d1a;
    min-height: 100vh;
    padding: 5%;
}

.banner {
    height:60vh;
}

h1 {
    margin: 0px 0px;
    padding: 0px auto;
    line-height:3.5rem;
    width:fit-content;
}

.orbitron-font {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-size: clamp(4rem, 8vw, 6rem);
    font-weight: 400;
    color: #fff;
}

h3{
    text-transform:uppercase;
    margin: 20px auto 20px auto ;
    color:aqua;
    font-size: clamp(1.5rem, 3vw, 4rem);
    font-weight: 200;
}

h4{
    margin: 0px auto 0px auto ;
    color:lightgray;
    font-size: 1rem;
    font-weight: 200;  
}

p {
    font-size: clamp(1rem, 2vw, 2rem);
}

a {
    display:inline-block;
    text-decoration:none;
    color: whitesmoke;
    font-size: 2rem;
    margin: 0px auto 0px auto ;
}

.contact{
    font-size: 1rem;
    color:lightgray;
}

a:hover {
    text-decoration: underline;
    color: whitesmoke;
}

a:active {
    color:whitesmoke;
}

.cta{
    border: 2px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
}

.cta {
    background-color: green;
}

.cta:hover{
    background-color: lightgreen;
    text-decoration: underline;
    color:darkgreen;
}

.cta:active{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.cta:focus{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.cta:visited{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.cta:focus-visible{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.cta:focus-within{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.analytics {
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
    font-style: italic;
    margin-top: 50px;
    color: darkgray;
}

@media screen and (max-width: 600px) {
    a {
        display:block;
        text-decoration:none;
        color: whitesmoke;
        font-size: 1.5rem;
        margin-top: 20px;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1.5rem;
    }

    .greenfilter {
    background-color: #00ff0d1a;
    padding: 5%;
    height: auto;
    }
}