/* this is the in page-nav */
.page-nav {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    top: 0;
    left: 0;
    width:100%;
    background-color: #051605bd;
    backdrop-filter: blur(5px);
}

.page-nav > h1 {
    color: white;
    font-size: 2rem;
    text-align: center;
    flex: 1;
}   

.page-nav > h2 > a {
    color:greenyellow;
    border-color: #1a1a1a;
    font-size: 2rem;
    text-decoration: none;
    margin-left: 20px;
    flex: 1;
}
  
.page-nav > a:hover {
    color:greenyellow;
    cursor: hand;
}
  
.page-nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    list-style-type: none;
}
  
.page-nav > ul > li {
    padding-right: 20px;
}

.page-nav > ul > li > a {
    text-decoration: none;
}

.page-nav > ul > li > a:hover{
    text-decoration: underline;
}

.page-nav > ul > li > button {
    color: aquamarine;
    background: blue;
    border-radius: 15px;
    border-color: darkgrey;
    border:2px;
    padding: 4px 15px;
}
  
.page-nav > ul > li > button:hover {
    background: #575757;
    z-index: 1;
}
  
.page-nav > ul > li > button > a {
    color: white;
    text-decoration: none;
}

.nav-icon {
    margin: auto 10px auto auto;
}
/* Media query for smaller screens */
@media (max-width: 600px) {     
    .page-nav > h2{
        font-size: 1.5rem;
    }
      
    .page-nav > ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        list-style-type: none;
    }

    .page-nav > ul > li > a{
        display: none;
    }
}