* {
    font-size: 16px; /* 1em = 16px and p tags should sit at this */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html{
    margin: 0px 0px;
    padding: 0px 0px;
}

body{
    background-color: black; /* This is page specific */
    margin: 0px 0px;
}

.page-background {
    position: relative;
    min-height: 100vh;
    margin: 0px 0px;
}

.page-background::before {
    content:"";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url(../media/images/aiCyborg.jpg);
    background-size:50%;
    background-repeat:no-repeat;
    background-position:right;
    opacity:0.5;
    z-index:-3;
}

.greenfilter{
    background-color: #00ff0d1a;
    min-height:100vh;
    padding: 5%;
}

h1 {
    margin: 0px 0px;
    padding: 0px auto;
    line-height:3.5rem;
    width:fit-content;
}

.orbitron-font {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-size: clamp(4rem, 8vw, 6rem);
    font-weight: 350;
    color: #fff;
}

h3{
    text-transform:uppercase;
    margin: 40px auto;
    color:aqua;
    font-size: clamp(1.5rem, 3vw, 4rem);
}

h6{
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    max-width: 60%;
    margin-top: 30px;
    color:lightgray;
}
p {
    font-size: clamp(1rem, 2vw, 2rem);
    max-width: 50%;
}

a {
    display:inline-block;
    text-decoration:none;
    color: whitesmoke;
    font-size: 2rem;
    margin-right: 1.5rem;
}

a:hover {
    text-decoration: underline;
    color: whitesmoke;
}

a:active {
    color:whitesmoke;
}

.one, .two, .three{
    border: 2px;
    border-radius: 5px;
    padding: 10px 20px; 
}

.one {
    background-color: red;
    text-decoration:none;
}

.one:hover{
    background-color: orange;
    text-decoration: underline;
}

.two {
    background-color: blue;
}

.two:hover{
    background-color: aqua;
    text-decoration: underline;
    color:darkgreen;
}

.three {
    background-color: green;
}

.three:hover{
    background-color: lightgreen;
    text-decoration: underline;
    color:darkgreen;
}

.three:active{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.three:focus{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.three:visited{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.three:focus-visible{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.three:focus-within{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

@media screen and (max-width: 600px) {
    a {
        display:block;
        text-decoration:none;
        color: whitesmoke;
        font-size: 1.5rem;
        margin-top: 20px;
    }
     
    p {
        font-size: 1.5rem;
        width:auto;
        max-width:90%;
    }
}