* {
    font-size: 16px; /* 1em = 16px and p tags should sit at this */
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    box-sizing: border-box;
}

html{
    margin: 0px 0px;
    padding: 0px 0px;
}

body{
    background-color: black; /* This is page specific */
    margin: 0px 0px;
}

.page-background {
    position: relative;
    min-height: 100vh;
    margin: 0px 0px;
}

.page-background::before {
    content:"";
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../media/images/cyborg_cropped.jpg);
    background-size:50%;
    background-repeat:no-repeat;
    background-position:right;
    opacity:0.3;
    z-index:-1;
}

.page-background > .aicyborgtwo::before {
    content:"";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url(../media/images/aiCyborg.jpg);
    background-size:50%;
    background-repeat:no-repeat;
    background-position:right;
    opacity:0.5;
    z-index:-3;
}

.greenfilter{
    background-color: #00ff0d1a;
    min-height: 100vh;
    padding: 8% 2% 8% 2%;
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    background-color: #000000e0;
}

.orbitron-font {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-size: clamp(2rem, 2vw, 3rem);
    line-height:auto;
    font-weight: 400;
    color: #fff;
}

.nav {
    color: whitesmoke;
    display: flex;
    align-items: center;
}

h1 {
    margin: 0px 0px 0px 0px;
    width:fit-content;
}

.monospace {
    font-family: "Courier New", Courier, monospace;
    font-size: clamp(1.2rem, 3vw, 4rem);
    font-weight: 200;
    color:aqua;
}

h3{
    text-transform:uppercase;
    margin: 0px auto 0px auto ;
}

h4{
    margin: 0px auto 0px auto ;
    color:lightgray;
    font-size: 1rem;
    font-weight: 200;  
}

h6{
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    max-width: 60%;
    margin-top: 30px;
    color:lightgray;
}

.body {
    font-size: clamp(1.2rem, 1.5vw, 2rem);
}

a {
    display:inline-block;
    text-decoration:none;
    color: whitesmoke;
}

a:hover {
    text-decoration: underline;
    color: whitesmoke;
}

a:active {
    color:whitesmoke;
}

.options {
    display:flex;
    flex-direction: column;
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: #00000079;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.options.show {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto auto;
    background-color: #111;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #555;
    height:fit-content;
}

.close-button {
    align-self: flex-end;
    background: transparent;
    color: #666;
    border: none;
    font-size: 1.5rem;
    padding: 10px;
    line-height: 1;
    transition: color 0.2s;
}

.close-button:hover {
    color: greenyellow;
}

.target-sets {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.target-set-alpha, .target-set-bravo, .target-set-charlie {
    flex:1;
    background-color: #00000079;
    border-radius: 5px;
    padding: 15px 15px;
}

.live-sites-accordion summary {
    padding-top: 10px;
}

.target-acquisition {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.analytics {
    flex:1;
    font-style: italic;
    margin-top: 50px;
    color: darkgray;
    background-color: #00000079;
    padding: 10px 10px;
}

.analytics > h3 {
  font-size: clamp(1.2rem, 2vw, 2rem);
}

.analytics-data {
   font-size: clamp(0.8rem, 1.5vw, 1.5rem);
}

.map-container {
    flex:1;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    margin: 50px 0px 0px 0px;
}

.map-container iframe {
    filter: grayscale(100%) invert(90%) contrast(90%);
}

.leaflet-bar {
    background-color: #111 !important;
    border: 1px solid darkgreen !important;
}

.leaflet-bar a {
    background-color: #111 !important;
}

.leaflet-bar a:first-child {
    border-bottom: 1px solid darkgreen !important;
}

.one, .four{
    border: 2px;
    border-radius: 5px;
    padding: 10px 20px;
}

.two, .three {
    border: 2px;
    padding: 10px 20px;
    text-align: center;
}

.two, .three > i {
    font-size: 1.5rem;
}

.one {
    background-color: red;
    text-decoration:none;
}

.one:hover{
    background-color: orange;
    text-decoration: underline;
}

.two {
    background-color: blue;
}

.two:hover{
    background-color: aqua;
    text-decoration: underline;
    color:darkgreen;
}

.three {
    background-color: green;
}

.three:hover{
    background-color: lightgreen;
    text-decoration: underline;
    color:darkgreen;
}

.three:active{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.three:focus{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.three:visited{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.three:focus-visible{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.three:focus-within{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.four {
    background-color: black;
}

.four:hover{
    background-color: gray;
    border: 1px solid black;
    text-decoration: underline;
    color:whitesmoke;
    box-shadow: #111 0px 0px 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0px;
    top:50%;
    z-index: 1000000;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index:10000000;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #000000e0;
    text-align: center;
    padding: 1% 5%;
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    color: whitesmoke;
}

.tagline {
    margin: 0px auto 0px auto;
}

.footer-notes{
    margin: 0px auto 0px auto;
}

@media screen and (max-width: 600px) {
    .body {
        font-size: 1.25rem;
        width:auto;
        max-width:90%;
    }

    .greenfilter {
        background-color: #00ff0d1a;
        padding: 30% 5% 30% 5%;
        height: auto;
    }
    
    .page-background::before {
        background-image: url(../media/images/cyborgStood.png);
        background-size:100%;
        opacity:0.3;
        z-index:-1;
        }
    
    .orbitron-font {
        font-family: "Orbitron", serif;
        font-optical-sizing: auto;
        font-size: clamp(2rem, 4vw, 6rem);
        font-weight: 400;
        color: #fff;
    }
    
    .one, .two, .three, .four {
        padding: 10px 20px;
    }
      
    a {
        text-decoration: none;
    }

    h1 {
        font-size: 2rem;
    }
    
    .monospace {
        font-family: "Courier New", Courier, monospace;
        font-size: clamp(1rem, 2vw, 1.5rem);
        font-weight: 200;
        color:aqua;
    }
    
    h3 {
        font-size: clamp(1rem, 3vw, 3rem);
    }

    .target-sets {
        display: flex;
        flex-direction: column;
        gap: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .target-set-alpha, .target-set-bravo, .target-set-charlie {
        flex:1;
        background-color: #00000079;
        border-radius: 5px;
        padding: 15px 15px;
    }

    .target-acquisition {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .analytics > h3 {
        font-size: clamp(1.2rem, 2vw, 2rem);
        color: darkgray;
    }

    .footer-content{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        background-color: #000000e0;
        text-align: left;
        padding: 1% 5%;
        color: whitesmoke;
        line-height: 1.4;
    }

    .tagline {
        font-size: clamp(1.2rem,1.5vw, 1.6rem);
        margin: 0px auto 0px 0px;
        padding-top:10px;
    }

    .footer-notes{
        font-size: clamp(0.8rem, 1.5vw, 1.2rem);
        margin: 0px auto 0px 0px;
    }

    .divider{
        display: none;
    }
}