* {
    font-size: 16px; /* 1em = 16px and p tags should sit at this */
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke
}

html{
    margin: 0px 0px;
    padding: 0px 0px;
}

body{
    background-color: black; /* This is page specific */
    margin: 0px 0px;
}

.page-background {
    position: relative;
    min-height: 100vh;
    margin: 0px 0px;
}

.page-background::before {
    content:"";
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../media/images/cyborg_cropped.jpg);
    background-size:50%;
    background-repeat:no-repeat;
    background-position:right;
    opacity:0.3;
    z-index:-1;
}

.page-background > .aicyborgtwo::before {
    content:"";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url(../media/images/aiCyborg.jpg);
    background-size:50%;
    background-repeat:no-repeat;
    background-position:right;
    opacity:0.5;
    z-index:-3;
}

.greenfilter{
    background-color: #00ff0d1a;
    min-height: 100vh;
    padding: 2%;
}

.orbitron-font {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-size: clamp(4rem, 8vw, 6rem);
    line-height:auto;
    font-weight: 350;
    color: #fff;
}

h1 {
    margin: 0px 0px;
    padding: 0px auto;
    
    width:fit-content;
}

.monospace {
    font-family: "Courier New", Courier, monospace;
    font-size: clamp(1.5rem, 3vw, 4rem);
    font-weight: 200;
    color:aqua;
}

h3{
    text-transform:uppercase;
    margin: 0px auto 0px auto ;
}

h4{
    margin: 0px auto 0px auto ;
    color:lightgray;
    font-size: 1rem;
    font-weight: 200;  
}

h6{
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    max-width: 60%;
    margin-top: 30px;
    color:lightgray;
}

.body {
    font-size: clamp(1.5rem, 2vw, 2rem);
    max-width: 50%;
}

.contact{
    font-size: 1rem;
    color:lightgray;
    background-color: #00000079;
    padding: 15px 15px;
    margin: 5px auto 5px 0px;
    border-radius: 5px;
    width: fit-content;
}

a {
    display:inline-block;
    text-decoration:none;
    color: whitesmoke;
    margin: 0px auto 0px auto ;
}

a:hover {
    text-decoration: underline;
    color: whitesmoke;
}

a:active {
    color:whitesmoke;
}

.analytics {
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
    font-style: italic;
    margin-top: 50px;
    color: darkgray;
}

.one, .two, .three, .four{
    border: 2px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 2rem; 
}

.one {
    background-color: red;
    text-decoration:none;
}

.one:hover{
    background-color: orange;
    text-decoration: underline;
}

.two {
    background-color: blue;
}

.two:hover{
    background-color: aqua;
    text-decoration: underline;
    color:darkgreen;
}

.three {
    background-color: green;
}

.three:hover{
    background-color: lightgreen;
    text-decoration: underline;
    color:darkgreen;
}

.three:active{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.three:focus{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.three:visited{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.three:focus-visible{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.three:focus-within{
    background-color: darkgreen;
    text-decoration: underline;
    color:whitesmoke;
}

.four {
    background-color: black;
}

.four:hover{
    background-color: gray;
    text-decoration: underline;
    color:whitesmoke;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #000000e0;
    text-align: center;
    padding: 1% 5%;
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    color: whitesmoke;
}

.tagline {
    margin: 0px auto 0px auto;
}

.footer-notes{
    margin: 0px auto 0px auto;
}

@media screen and (max-width: 600px) {
    .body {
    font-size: 1.25rem;
    width:auto;
    max-width:90%;
    }

    .greenfilter {
    background-color: #00ff0d1a;
    padding: 5%;
    height: auto;
    }
    
    .page-background::before {
    background-image: url(../media/images/cyborgStood.png);
    background-size:100%;
    opacity:0.3;
    z-index:-1;
    }
    
    .orbitron-font {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-size: clamp(2rem, 4vw, 6rem);
    font-weight: 400;
    color: #fff;
    }
    
    .one, .two, .three, .four{
    border: 2px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem; 
    }
      
    a {
    text-decoration: none;
    }

    h1 {
    font-size: 2rem;
    }
    
    .monospace {
    font-family: "Courier New", Courier, monospace;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 200;
    color:aqua;
    }
    
    h3 {
    font-size: clamp(1rem, 3vw, 3rem);
    }

    .footer-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #000000e0;
    text-align: left;
    padding: 1% 5%;
    
    color: whitesmoke;
    line-height: 1.4;
    }

    .tagline {
        font-size: clamp(1.2rem,1.5vw, 1.6rem);
        margin: 0px auto 0px 0px;
        padding-top:10px;
    }

    .footer-notes{
        font-size: clamp(0.8rem, 1.5vw, 1.2rem);
        margin: 0px auto 0px 0px;
    }

    .divider{
        display: none;
    }
}