/* this is the footer for all pages */
.footer {
    display: flex;
    flex:1;
    justify-content: space-between; 
    align-items: center; 
    flex-direction: row;
    height: auto;
    width: 100%;
    background-color: black;
    text-align: center;
    position: relative;
    bottom: 0;
    gap: 10%;
    z-index:5;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
  }
  
  .footer-icons {
    display: flex;
    align-items: center;
  }
  
  #bone-icon {
    font-size: 1rem;
    color: #fff;
    padding: 20px;
  }
  
  #spaceShipBaby {
    font-size: 1rem;
    color: #fff;
    padding: 20px;
  }
  
  .mantra {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
  }
  
  #copyright_tag {
    font-size: 1rem;
    color: #fff;
    padding: 20px;
    margin: 0px auto;
  }

  /* Media query for smaller screens */
@media (max-width: 600px) {    
  .footer{
    height:fit-content;
  }  
  
  .footer-content {
      flex: 1;
      flex-direction: column;
      text-align: center;
    }

  }
  