* {
  font-size: 18px; /* 1em = 16px and p tags should sit at this */
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

html { 
  background-color: black;
  margin: 0;
  border: 0;
  padding: 0;
  z-index: -5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin:0px 0px;
}

.container{
  padding: 5% 5%;
}
/* Main typography nerd-ery */
h1 {
  font-size: 3rem;
}

.orbitron-font {
  font-optical-sizing: auto;
  font-family: "Orbitron", serif;
  font-weight: 400;
  color: whitesmoke;
  margin: 10px auto;
  padding: 0px 15px;
  text-align: center;
  width: fit-content;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

/* Media query for smaller screens */
@media (max-width: 600px) { 
  h1 {
    font-size: 3rem;
  }
  .orbitron-font {
    font-optical-sizing: auto;
    font-family: "Orbitron", serif;
    font-weight: 400;
    color: whitesmoke;
    margin: 10px auto;
    padding: 0px 15px;
    text-align: center;
    width: fit-content;
  }

  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size:0.8rem;
  }
}