.banner-content {
    padding:40px;
    width: 50%;
    margin-left: 100px;
  }
  
.banner-content > h1 {
    background-color: whitesmoke;
    color: black;
    font-size: 3rem;
    font-weight: 400;
    margin: 0px;
  }
  
.banner-content > p {
    background-color: whitesmoke;
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 20px auto;
    padding: 10px;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index:2;
}
  
.card-one, .card-two, .card-three {
    padding: 0px 20px;
    margin: 10px 10px;
    border-radius: 10px;
    border: 3px solid whitesmoke;
}
  
.card-one{
    flex:1;
    background-image: url(ramshead.jpeg);
    background-position: center;
}
  
.card-two{
    flex:1;
    background-image: url(landscape.jpg);
}
  
.card-three{
    flex:1;
    background-image: url(storm_video_V1.mp4);
}
  
@media screen and (max-width: 600px){
    main {
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        column-gap: 20px;
        z-index: -1;
    }
    
    .banner-content{  
        margin: 5px 5px;
        width: fit-content;
    }
      
    .side-nav {
        margin-bottom: 20px;
    }
    
    .Newsblock {
        margin: 10px 0px;
    }
}