* {
  font-size: 16px; /* 1em = 16px and p tags should sit at this */
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

html, body {
  height: auto;
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Main typography nerd-ery */
h1 {
  background-color: #1a1a1a;
  width: fit-content;
  margin: 5px auto;
  padding: 0px 15px;
  text-align: center;
  z-index:2;
}

.orbitron-font {
  font-optical-sizing: auto;
  font-family: "Orbitron", serif;
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
}

h2{
  font-size: 2rem;
  font-weight: 400;
  color: #888;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  padding-left: 25px;
  padding-right: 15px;
  margin-bottom: 0px;
}

/* this is the footer for all pages */
.footer {
  display: flex; /* Defines the container as a flexbox */
  justify-content: space-between; /* Distributes space between items */
  align-items: center; /* Centers the content vertically */
  flex-direction: row; /* Sets the direction of the flexbox */
  height: auto;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
  gap: 10%;
}

.footer-content {
  display: flex;
  justify-content: space-between; /* Distributes space between items */
  align-items: center; /* Centers the content vertically */
  width: 100%;
}

.footer-icons {
  display: flex;
  align-items: center;
}

#bone-icon {
  font-size: 1rem;
  color: #fff;
  padding: 20px;
}

#spaceShipBaby {
  font-size: 1rem;
  color: #fff;
  padding: 20px;
}

.mantra {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  color: #fff;
  background-color: #1a1a1a;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0px;
}

#copyright_tag {
  font-size: 1rem;
  color: #fff;
  padding: 20px;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .footer-content {
    flex-direction: column; /* Stack items vertically */
    text-align: center;
  }

  h1 {
  background-color: #1a1a1a;
  width: fit-content;
  margin: 0px auto;
  padding: 0px 15px;
  text-align: center;
  z-index:2;
  }

  .orbitron-font {
  font-optical-sizing: auto;
  font-family: "Orbitron", serif;
  font-size: 2rem;
  font-weight: 350;
  color: #fff;
  }
}