/* This is the styling for the nav bar.  It is a key part of the site and should be managed globally*/

/* Styling for nav element */
nav {
    background-color: black; /* Example background color */
    height: auto; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
nav > .nav-links {
    display: none; /* Hide initially */
    list-style: none;
    gap: 20px;
} 

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links.show {
    float: left; /* Show the navigation */
}
  
ul > li {
    list-style-type: none;
}
  
.hamburger-icon {
    font-size: 1.5rem; /* Adjust size */
    color: white; /* Adjust color */
    cursor: pointer; /* Change cursor to pointer */
    position: absolute; /* Positioning */
    top: 20px; /* Adjust top position */
    left: 20px; /* Adjust right position */
}
  
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(128, 128, 128, 0.5); /* Grey background with transparency */
    backdrop-filter: blur(5px); /* Blur effect */
}
  
.modal-content {
    background-color: #1a1a1a;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 10%; /* Could be more or less, depending on screen size */
    color: white;
    text-align: left;
}
  
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close-btn:hover,  .close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .login-icon{
    font-size: 1.5rem; /* Adjust size */
    color: white; /* Adjust color */
    cursor: pointer; /* Change cursor to pointer */
    position: absolute; /* Positioning */
    top: 20px; /* Adjust top position */
    right: 20px; /* Adjust right position */
  }

/* this is the footer for all pages */

  footer {
    display:block;
    height:auto;
    width:100%;
    text-align:center;
    position: relative;
    bottom: 0;
    padding: 10px;
  }
  
  .footer-content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px;
  }
  
  .footer-icons {
    display:flex;
    align-items: center;
    gap: 10px;
  }
  
  #boner {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #fff;
    padding: 20px;
  }
  
  #spaceShipBaby {
    display:flex;
    align-items: center;
    font-size: 1rem;
    color: #fff;
    padding: 20px;
  }
  
  #copyright_tag {
    align-items: center;
    font-size: 1rem;
    color: #fff;
    padding: 20px;
  }
  
  