/* This file contains the css for the mainpage */

/* Basic reset */
* {
   box-sizing: border-box;
}

/* The page */
.page-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('./ramshead.jpeg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  z-index: -5;
}

.page-filter {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -4;
}

.content-backdrop{
  background-image: url('./forest.png');
  width:100%;
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.banner-content {
  padding:40px;
  width: 50%;
  margin-left: 100px;
}

.banner-content > h1 {
  background-color: whitesmoke;
  color: black;
  font-size: 3rem;
  font-weight: 400;
  margin: 0px;
}

.banner-content > p {
  background-color: whitesmoke;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 20px auto;
  padding: 10px;

}
/* Main content styling */
main {
  margin-left: 0px;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 20px;

}

/* Side nav styling */
.side-nav {
  height: 100%;
  border-radius: 20px;
  background-color: rgba(70, 69, 69, 0.5);
  backdrop-filter: blur(5px);
  padding: 20px 20px;
  flex: 1;
}

.side-nav h2 {
  color: aqua;
}

.side-nav ul {
  list-style-type: none;
  padding: 0;
}

.side-nav ul li {
  margin: 10px 0;
}

.side-nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px;
  display: block;
}

.side-nav ul li a:hover {
  background-color: #575757;
}

.Newsblock {
  flex: 1;
  border-radius: 20px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(70, 69, 69, 0.5);
  backdrop-filter: blur(5px);
}

h3 {
  color: white;
  z-index: 3;
}

.Newsblock > h2{
  color: chocolate;
}

/* For your mobile */

@media screen and (max-width: 600px) {
  .page-nav > h2{
    font-size: 1.5rem;
  }
  
  main {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    column-gap: 20px;
    }

  .banner-content{  
    margin: 5px 5px;
    width: fit-content;
  }
  
  .side-nav {
    margin-bottom: 20px;
  }

  .Newsblock {
    margin: 10px 0px;
  }
}