/* This file contains the css for the mainpage */

/* Basic reset */
* {
   box-sizing: border-box;
}

/* The page */
.page-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('./ramshead.jpeg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  z-index: -5;
}

.page-filter {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -4;
}

.content-backdrop{
  background-image: url('./forest.png');
  width:100%;
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.banner-content {
  padding:40px;
  width: 50%;
  margin-left: 100px;
}

.banner-content > h1 {
  background-color: whitesmoke;
  color: black;
  font-size: 3rem;
  font-weight: 400;
  margin: 0px;
}

.banner-content > p {
  background-color: whitesmoke;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 20px auto;
  padding: 10px;

}

/* For your mobile */

@media screen and (max-width: 600px) {
  .page-nav > h2{
    display:none;
  }
  
  .page-nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    list-style-type: none;
  }
  
  main {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    column-gap: 20px;
    z-index: -1;
  }

  .banner-content{  
    margin: 5px 5px;
    width: fit-content;
  }
  
  .side-nav {
    margin-bottom: 20px;
  }

  .Newsblock {
    margin: 10px 0px;
  }
}