/* This file contains the css for the mainpage */

/* Basic reset */
* {
   box-sizing: border-box;
}

/* Main content styling */
main {
  margin-left: 0px;
  padding: 20px;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 20px;

}

/* Side nav styling */
.side-nav {
  height: 100%;
  border-radius: 20px;
  background-color: #333;
  padding-top: 20px;
  flex: 1;
}

.side-nav ul {
  list-style-type: none;
  padding: 20px;
}

.side-nav ul li {
  margin: 20px 0;
}

.side-nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.side-nav ul li a:hover {
  background-color: #575757;
}

.Newsblock {
  flex: 3;
  border-radius: 20px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(70, 69, 69, 0.75); /* Grey background with transparency */
  backdrop-filter: blur(5px); /* Blur effect */
}

h2{
  color: aqua;
}