html{
    background-color: black;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    margin: 0px 0px;
    color: white;
}

.page-background {
    position: relative;
    height: 100vh;
    margin: 0px 0px;
}

.page-background::before {
    content:"";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url(./ramsskull.jpeg);
    background-size:80%;
    background-repeat:no-repeat;
    background-position:center;
    opacity:0.1;
    z-index:-1;
}

.interlocutor{
    background-color: rgba(0, 255, 13, 0.1);
    height:100%;
    padding: 5%;
}

h1 {
    font-size: 3rem;
    padding: 0px auto;
}

p {
    font-size: 18px;
}

a {
    display:inline-block;
    text-decoration:none;
    color: whitesmoke;
    font-size: 2rem;
}

a:hover {
    text-decoration: underline;
    color: whitesmoke;
}

a:active {
    color:whitesmoke;
}

.one, .two {
    border: 2px;
    border-radius: 5px;
    padding: 10px 20px; 
}

.one {
    background-color: red;
}

.one:hover{
    background-color: orange;
    text-decoration: none;
}

.two {
    background-color: blue;
}

.two:hover{
    background-color: aqua;
    text-decoration: none;
    color:darkgreen;
}

@media screen and (max-width: 600px) {
    a {
        display:block;
        text-decoration:none;
        color: whitesmoke;
        font-size: 2rem;
        margin-top: 20px;
    }
    
    h1 {
        font-size: 3.5rem;
    }
    
    p {
        font-size: 2rem;
    }
}