/* This file contains the css for the mainpage */

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
html, body {
  margin:0;
  padding:0;
  height:100%;
  font-family: Arial, sans-serif;
  display: flex;
  background-color: black;
}

.page-background{
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  width: 100vw;
  background-image: url('./ramshead.jpeg');
  background-size:cover;
  background-position: center;
  z-index: -1;
}

/* Side nav styling */
.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  padding-top: 20px;
}

.side-nav ul {
  list-style-type: none;
  padding: 0;
}

.side-nav ul li {
  margin: 20px 0;
}

.side-nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.side-nav ul li a:hover {
  background-color: #575757;
}

/* Main content styling */
main {
  margin-left: 220px; /* Adjust based on side nav width */
  padding: 20px;
}

.Newsblock {
  margin-left: 220px; /* Adjust based on side nav width */
  padding: 20px;
}