/* Styling for nav element */
nav {
    height: auto; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content */
    padding: 0 20px;
  }
  
  nav > .nav-links {
    display: none; /* Hide initially */
    list-style: none;
    gap: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .nav-links.show {
    float: left; /* Show the navigation */
  }
  
  ul > li {
    list-style-type: none;
  }
  
  #logo-icon {
    color:white;
    font-size:1rem;
    padding: 5px 10px;
  }
  
  nav > h1 {
    font-family: "Orbitron", serif;
    font-style: uppercase;
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
    background-color: #1a1a1a;
    margin-top: 5px;
    margin-bottom:5px;
    padding-left:15px;
    padding-right:15px;
    text-align: center;
    max-width: none;
    z-index:2;
  }
  
  .orbitron-font {
    font-optical-sizing: auto;
  }
  
  .hamburger-icon {
    font-size: 1.5rem;
    color: white; 
    cursor: pointer; /* Changed cursor to pointer because I like it */
    position: absolute; 
    top: 20px; 
    left: 20px;
    z-index: 4; 
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(128, 128, 128, 0.5); /* Grey background with transparency */
    backdrop-filter: blur(5px); /* Blur effect */
  }
  
  .modal-content {
    display:block;
    background-color: #1a1a1a;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 50%; /* Could be more or less, depending on screen size */
    color: white;
    text-align: left;
  }
  
  .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-btn:hover, .close-btn:focus {
    color: greenyellow;
    text-decoration: none;
    cursor: pointer;
    cursor: hand; /* For older browsers */
  }
  
  .login-icon {
    font-size: 1.5rem; /* Adjust size */
    color: white; /* Adjust color */
    cursor: pointer; /* Change cursor to pointer */
    position: absolute; /* Positioning */
    top: 20px; /* Adjust top position */
    right: 20px; /* Adjust right position */
  }
  