* {
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-image:radial-gradient(#1a0600, black);
  margin: 0% 5%;
}

nav > .nav-links {
  display: none; /* Hide initially */
}

.nav-links.show {
  display: block; /* Show the navigation */
  /* Add your desired animations here (e.g., slide-in, fade-in) */
}

.hamburger-icon {
  font-size: 2em; /* Adjust size */
  color: white; /* Adjust color */
  cursor: pointer; /* Change cursor to pointer */
  position: absolute; /* Positioning */
  top: 20px; /* Adjust top position */
  left: 20px; /* Adjust right position */
}

.login-icon{
  font-size: 2em; /* Adjust size */
  color: white; /* Adjust color */
  cursor: pointer; /* Change cursor to pointer */
  position: absolute; /* Positioning */
  top: 20px; /* Adjust top position */
  right: 20px; /* Adjust right position */
}

main {
  margin: auto;
  width: 90%;
  padding: 20px;
  height:100vwh;
}

main > h1 {
  font-family: "Orbitron", serif;
  font-style: uppercase;
  font-size: 8em;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0px;
  text-align: center;
  max-width: none;
}
/*
.orbitron-font {
  font-optical-sizing: auto;
}
*/
main > h3 {
  text-align: center;
  font-size: 4em;
  color: #fff;
  margin-top: 0px;
}

.small-caps {
  font-variant: small-caps;
}

main > h5 {
  text-align: center;
  font-size: 2em;
  font-style: italic;
  color: #fff;
  margin-bottom: 0px;
}

main > p {
  text-align: center;
  font-size: 1em;
  color: #fff;
}

footer{
  text-align: center;
  font-size: 1em;
  color: #fff;
  padding: 20px;
  position: absolute; /* Positioning for the bottom of the page*/
  bottom: 20px; /* Adjust bottom position */
  right: 20px; /* Adjust right position */
}





